<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{if !empty($title)}{$title} - Dashboard{else/}Login{/if}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Dashboard" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__AD__/img/favicon.png" type="image/x-icon">
    <link href="__AD__/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="__AD__/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__AD__/css/weather-icons.min.css" rel="stylesheet" />
    <link href="__AD__/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="__AD__/css/demo.min.css" rel="stylesheet" />
    <link href="__AD__/css/typicons.min.css" rel="stylesheet" />
    <link href="__AD__/css/popdivs.css" rel="stylesheet" />
    <link href="__AD__/css/animate.min.css" rel="stylesheet" />
    <link href="__AD__/layui/css/layui.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <script src="__AD__/ueditor/ueditor.config.js"></script>
    <script src="__AD__/ueditor/ueditor.all.min.js"></script>
    <script src="__AD__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="__AD__/js/skins.min.js"></script>
</head>
<body>